In [1]:
import pandas
from Chassis import *

In [2]:
ds=pandas.DataFrame.from_records([
	{"c": "A", "n":10, "b": True, "s":1},
	{"c": "B", "n":11, "b": False, "s":1},
	{"c": "C", "n":20, "b": 0.5, "s":1},
	{"c": "A", "n":42, "b": 0.3, "s":1},
])
ds

 b	c n s
0 True A 10	1
1 False B 11	1
2 0.5 C	20 1
3 0.3 A	42 1

In [3]:
spec={
	"c": "C", #categoric
	"n": "N", #numerical
	"b": "B", #binary
	"s": "S", #STOP, this won't appear in the dmat
}
chs=Chassis(spec, ds)
chs.pds

 b c_A	c_B c_C n
0 1.0 1	 0 0 10
1 0.0 0	 1 0 11
2 0.5 0	 0 1 20
3 0.3 1	 0 0 42

In [4]:
chs.prepareCovariates("b")

 n c_C	c_A c_B
0 10 0	 1 0
1 11 0	 0 1
2 20 1	 0 0
3 42 0	 1 0

In [5]:
chs.prepareResult("b")

0 1.0
1 0.0
2 0.5
3 0.3
Name: b, dtype: float32

In [6]:
chs.prepareCovariates("c")

 n 	b
0 10 1.0
1 11 0.0
2 20 0.5
3 42 0.3

In [7]:
chs.prepareResult("c")

0 A
1 B
2 C
3 A
dtype: category
Categories (3, object): [A, B, C]

In [8]:
chs.prepareCovariates("n")

 c_C c_A 	b c_B
0 0 	1 1.0 0
1 0 	0 0.0 1
2 1 	0 0.5 0
3 0 	1 0.3 0

In [9]:
chs.prepareResult("n")

0 10
1 11
2 20
3 42
Name: n, dtype: int64

In [10]:
chs.reverse()

 b n	c
0 1.0 10 A
1 0.0 11 B
2 0.5 20 C
3 0.3 42 A